body{
    background-image: url("./evil-dead.jpg");
}
h1{
    color: white;
    text-align: center;
    margin-top: 100px;
}
img{
    height: 300px;
    width: 300px;
    padding: 30px;
    margin-top: 6%;
    margin-left: 10px;
}

