body{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    background-image: url("./evil-dead.jpg");

}
h1{
    color: rgb(255, 255, 255);
    text-align:center;
}
img{
    margin-top: 5px;
    height: 400px;
    width: 500px;
}
h2{
    color: white;
    text-align: center;
}